body {
  background-color: #dcf4ff;
  font-family: "Jua", sans-serif;
  color: #0a1a46;
}

button {
  padding: 2vmin;
  font-size: 4vmin;
  cursor: pointer;
  background-color: #a3e2ff;
  text-align: center;
  border-style: solid;
  border-color: #0a1a46;
  border-radius: 10px;
  font-family: "Jua", sans-serif;
  color: #0a1a46;
}

h1 {
  font-size: 10vmin;
}

p {
  font-size: 6vmin;
}

.container {
  margin: 1vmin;
}

.container > div {
  width: auto;
  text-align: center;
  padding: 2vmin;
}

#lose {
  font-size: 8vmin;
  margin: 1vmin;
}


#home {
  font-size: 4vmin;
}