button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;

  background-color: #a3e2ff;
  width: 220px;
  text-align: center;
  border-style: solid;
  border-color: #0a1a46;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

body {
    background-color:#dcf4ff;
    font-family: Arial, sans-serif;
}

.container > div {
  font-size: 25px;
  width: auto;
  text-align: center;
}

.container {
    color: #0a1a46;
    margin-top: 200px;
}

#lose {
    font-size: 64px;
    margin: 25px;
    color: #0a1a46;
}