button {
  padding: 20px;
  font-size: 25px;
  cursor: pointer;
  background-color: #a3e2ff;
  width: 300px;
  text-align: center;
  border-style: solid;
  border-color: #0a1a46;
  border-radius: 10px;
  font-family: "Jua", sans-serif;
  color: #0a1a46;
}

body {
    background-color:#dcf4ff;
    font-family: "Jua", sans-serif;
    color: #0a1a46;
}

.container > div {
  font-size: 25px;
  width: auto;
  text-align: center;
}

.container {
    margin-top: 200px;
}

#lose {
    font-size: 50px;
    margin: 25px;
}

h1 {
  font-size: 75px;
}

p {
  margin-left: 50px;
  margin-right: 50px;
}